In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('covid_toy.csv')

In [3]:
df.shape

(100, 6)

In [4]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
df['cough'].value_counts()

Mild      62
Strong    38
Name: cough, dtype: int64

In [7]:
df['city'].value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

In [8]:
X = df.iloc[:,:5]
y = df.iloc[:,-1]

In [9]:
X

    age  gender  fever   cough       city
0    60    Male  103.0    Mild    Kolkata
1    27    Male  100.0    Mild      Delhi
2    42    Male  101.0    Mild      Delhi
3    31  Female   98.0    Mild    Kolkata
4    65  Female  101.0    Mild     Mumbai
..  ...     ...    ...     ...        ...
95   12  Female  104.0    Mild  Bangalore
96   51  Female  101.0  Strong    Kolkata
97   20  Female  101.0    Mild  Bangalore
98    5  Female   98.0  Strong     Mumbai
99   10  Female   98.0  Strong    Kolkata

[100 rows x 5 columns]

In [10]:
y

0      No
1     Yes
2      No
3      No
4      No
     ...
95     No
96    Yes
97     No
98     No
99    Yes
Name: has_covid, Length: 100, dtype: object

In [11]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2)

In [12]:
X_train

    age  gender  fever   cough       city
20   12    Male   98.0  Strong  Bangalore
80   14  Female   99.0    Mild     Mumbai
87   47    Male  101.0  Strong  Bangalore
78   11    Male  100.0    Mild  Bangalore
81   65    Male   99.0    Mild      Delhi
..  ...     ...    ...     ...        ...
35   82  Female  102.0  Strong  Bangalore
48   66    Male   99.0  Strong  Bangalore
54   60  Female   99.0    Mild     Mumbai
93   27    Male  100.0    Mild    Kolkata
60   24  Female  102.0  Strong  Bangalore

[80 rows x 5 columns]

In [13]:
y_train

20     No
80    Yes
87     No
78    Yes
81     No
     ...
35     No
48     No
54    Yes
93    Yes
60    Yes
Name: has_covid, Length: 80, dtype: object

In [14]:
y_train.shape

(80,)

In [15]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [16]:
from sklearn.compose import ColumnTransformer

transformer = ColumnTransformer(transformers= [
    ('tnf1', SimpleImputer(), ['fever']),
    ('tnf2', OrdinalEncoder(categories= [['Mild','Strong']]), ['cough']),
    ('tnf3', OneHotEncoder(sparse=False, drop='first'), ['gender','city'])
     ], remainder= 'passthrough')

In [17]:
X_train = transformer.fit_transform(X_train)
X_test = transformer.transform(X_test)

In [18]:
X_train.shape

(80, 7)

In [19]:
X_test.shape

(20, 7)