In [1]:
import numpy as np 
import pandas as pd

In [33]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [34]:
df.shape

(1338, 7)

In [35]:
df = pd.get_dummies(df,columns=['sex','smoker','region'], drop_first=True)
df.sample(5)

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
543,54,47.410,0,63770.42801,0,1,0,1,0
512,51,22.420,0,9361.32680,1,0,0,0,0
63,28,25.935,1,4133.64165,0,0,1,0,0
1168,32,35.200,2,4670.64000,1,0,0,0,1
910,22,28.310,1,2639.04290,1,0,1,0,0

In [36]:
df.shape

(1338, 9)

In [37]:
X = df[['age','bmi','children','sex_male','smoker_yes','region_northwest','region_southeast','region_southwest']]
y = df['charges']

In [38]:
X

,age,bmi,children,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,0,1,0,0,1
1,18,33.770,1,1,0,0,1,0
2,28,33.000,3,1,0,0,1,0
3,33,22.705,0,1,0,1,0,0
4,32,28.880,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...
1333,50,30.970,3,1,0,1,0,0
1334,18,31.920,0,0,0,0,0,0
1335,18,36.850,0,0,0,0,1,0
1336,21,25.800,0,0,0,0,0,1
1337,61,29.070,0,0,1,1,0,0

In [39]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [40]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=4)

In [41]:
X_train.shape

(1070, 8)

In [42]:
X_test.shape

(268, 8)

# Modelling

In [43]:
from sklearn.metrics import r2_score
from sklearn.ensemble import BaggingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV

In [50]:
params = {'base_estimator': [None,DecisionTreeRegressor()],
          'n_estimators': [100,200,300],
          'max_samples': [0.5,1.0],
          'max_features': [0.5,1.0],
          'bootstrap': [True, False],
          'bootstrap_features': [True, False]}

In [51]:
model = BaggingRegressor(random_state= 4)

In [52]:
grid = GridSearchCV(model, params, cv=5, n_jobs=-1)

In [53]:
grid.fit(X_train,y_train)

GridSearchCV(cv=5, estimator=BaggingRegressor(random_state=4), n_jobs=-1,
             param_grid={'base_estimator': [None, DecisionTreeRegressor()],
                         'bootstrap': [True, False],
                         'bootstrap_features': [True, False],
                         'max_features': [0.5, 1.0], 'max_samples': [0.5, 1.0],
                         'n_estimators': [100, 200, 300]})

In [54]:
grid.best_score_

0.8475995437808853

In [55]:
grid.best_params_

{'base_estimator': None,
 'bootstrap': True,
 'bootstrap_features': False,
 'max_features': 1.0,
 'max_samples': 0.5,
 'n_estimators': 300}

In [58]:
model1 = BaggingRegressor(  
    n_estimators=300,
    max_samples=0.5,
    bootstrap=True,
    max_features=1.0,
    bootstrap_features=False,
    random_state=4
)

In [59]:
model1.fit(X_train,y_train)

BaggingRegressor(max_samples=0.5, n_estimators=300, random_state=4)

In [60]:
y_pred = model1.predict(X_test)

In [61]:
r2_score(y_test,y_pred)

0.8243721526407766