In [1]:
import numpy as np 
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('placement.csv')
df.head()

   cgpa  placement_exam_marks  placed
0  7.19                    26       1
1  7.46                    38       1
2  7.54                    40       1
3  6.42                     8       1
4  7.23                    17       0

In [3]:
df.shape

(1000, 3)

In [4]:
X = df.iloc[:,:2]
y = df.iloc[:,-1]

In [5]:
X

     cgpa  placement_exam_marks
0    7.19                    26
1    7.46                    38
2    7.54                    40
3    6.42                     8
4    7.23                    17
..    ...                   ...
995  8.87                    44
996  9.12                    65
997  4.89                    34
998  8.62                    46
999  4.90                    10

[1000 rows x 2 columns]

In [6]:
y

0      1
1      1
2      1
3      1
4      0
      ..
995    1
996    1
997    0
998    1
999    1
Name: placed, Length: 1000, dtype: int64

In [7]:
# Scaling

scaler = StandardScaler()

df = scaler.fit_transform(df)
df

array([[ 0.37161107, -0.32555395,  1.02224741],
       [ 0.81021479,  0.30201993,  1.02224741],
       [ 0.94017145,  0.40661558,  1.02224741],
       ...,
       [-3.36464288,  0.09282864, -0.97823676],
       [ 2.69458634,  0.72040252,  1.02224741],
       [-3.34839829, -1.16231913,  1.02224741]])

# Modelling

In [8]:
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [9]:
svm1 = SVC(probability=True, kernel='poly', degree=1)
svm2 = SVC(probability=True, kernel='poly', degree=2)
svm3 = SVC(probability=True, kernel='poly', degree=3)

In [10]:
estimators = [('svm1',svm1),('svm2',svm2),('svm3',svm3)]

for estimator in estimators:
    x = cross_val_score(estimator[1],X,y,cv=5,scoring='accuracy')
    print(estimator[0],np.round(np.mean(x),2))

svm1 0.51
svm2 0.5
svm3 0.5

In [13]:
vc1 = VotingClassifier(estimators=estimators,voting='soft')
x = cross_val_score(vc1,X,y,cv=10,scoring='accuracy')
print(np.round(np.mean(x),2))

0.52