In [1]:
import numpy as np 
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('Admission_Predict.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
df.shape

(400, 9)

In [4]:
df = df.iloc[:,1:]
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [5]:
X = df.iloc[:,:7]
y = df.iloc[:,-1]

In [6]:
X

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0          337          118                  4  4.5   4.5  9.65         1
1          324          107                  4  4.0   4.5  8.87         1
2          316          104                  3  3.0   3.5  8.00         1
3          322          110                  3  3.5   2.5  8.67         1
4          314          103                  2  2.0   3.0  8.21         0
..         ...          ...                ...  ...   ...   ...       ...
395        324          110                  3  3.5   3.5  9.04         1
396        325          107                  3  3.0   3.5  9.11         1
397        330          116                  4  5.0   4.5  9.45         1
398        312          103                  3  3.5   4.0  8.78         0
399        333          117                  4  5.0   4.0  9.66         1

[400 rows x 7 columns]

In [7]:
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit , Length: 400, dtype: float64

In [8]:
# Scaling

scaler = StandardScaler()

df = scaler.fit_transform(df)
df

array([[ 1.76210664,  1.74697064,  0.79882862, ...,  1.76481828,
         0.90911166,  1.37364801],
       [ 0.62765641, -0.06763531,  0.79882862, ...,  0.45515126,
         0.90911166,  0.25029671],
       [-0.07046681, -0.56252785, -0.07660001, ..., -1.00563118,
         0.90911166, -0.03054111],
       ...,
       [ 1.15124883,  1.41704229,  0.79882862, ...,  1.42900622,
         0.90911166,  1.30343855],
       [-0.41952842, -0.72749202, -0.07660001, ...,  0.30403584,
        -1.09997489, -0.38158839],
       [ 1.41304503,  1.58200646,  0.79882862, ...,  1.78160888,
         0.90911166,  1.58427637]])

# Modelling

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import VotingRegressor
from sklearn.model_selection import cross_val_score

In [10]:
lr = LinearRegression()
dt = DecisionTreeRegressor()
svr = SVR()

In [11]:
estimators = [('lr',lr),('dt',dt),('svr',svr)]

In [12]:
for estimator in estimators:
  scores = cross_val_score(estimator[1],X,y,scoring='r2',cv=10)
  print(estimator[0],np.round(np.mean(scores),2))

lr 0.77
dt 0.46
svr 0.6

In [13]:
vr = VotingRegressor(estimators)
scores = cross_val_score(vr,X,y,scoring='r2',cv=10)
print("Voting Regressor",np.round(np.mean(scores),2))

Voting Regressor 0.72